<div class="about">



  <div class ="about-parent">

    <div class="about-child text-center">
      <h1 style = "font-weight:bold; font-family: Aref Ruqaa; color:white; font-size: 60px; text-align: center"> ABOUT WILDLIFE </h1>
      <hr class = "short-underline" />
      <h3> Saving nature is at the very heart of what we do. For more than 50 years, we have made it our mission to find solutions that save the marvelous array of life on our planet by applying the best science available and working closely with local communities. </h3>

      <h3> Talk to us! </h3>

      <%= link_to "http://www.facebook.com" do %>
      <%= fa_icon 'facebook-official 5x', class: "icon-settings"%>
      <% end %>

      <%= link_to "http://www.twitter.com" do %>
      <%= fa_icon 'twitter-square 5x', class: "icon-settings"%>
      <% end %>

      <%= link_to "http://www.googleplus.com" do %>
      <%= fa_icon 'google-plus-square 5x', class: "icon-settings"%>
      <% end %>
    </div>
  </div>

    <section class ="portfolio">
      <div class= "portfolio-child">

            <div class="feature-title text-center">
              <h1> ABOUT THE CREATOR </h1>

              <%= image_tag "me.jpg", class: "image-settings" %>

              <h5> Carson Leong </h5>

            </div>
            </div>
    </section>
</div>
