
  <div class ="background">
    <div class="content">
      <h1 style = "font-weight:bold; font-family: Aref Ruqaa; color:red; font-size: 70px; text-align: center"> SAVE ME PLEASE!!! </h1>
  </div>
  </div>

  <div class="background-2">
    <div class="content">
      <h2 style = "font-weight:bold; font-size: 50px; text-align:center"> WILDLIFE CONSERVATION </h2>

      </p>
    </div>
  </div>


  <h1 class="feature-title text-center">
    WHY IT MATTERS?
  </h1>

  <section class ="features-container">
    <div class="features text-center">

      <div class="feature">
        <%= fa_icon 'globe 4x', class: "icon-settings"%>
        <h3> Saving a planets of life </h3>
      </div>

      <div class="feature">
        <%= fa_icon 'user-md 4x', class: "icon-settings"%>
        <h3> Species recovery </h3>
      </div>

      <div class="feature">
        <%= fa_icon 'users 4x', class: "icon-settings"%>
        <h3> Helping population thrive </h3>
      </div>

      <div class="feature">
        <%= fa_icon 'heart 4x', class: "icon-settings"%>
        <h3> Improving human lives</h3>
      </div>
    </div>
  </section>


  <section class ="portfolio" >
    <div class="features-image text-center">
      <div class="photo">
        <div class="invisible-layout">
          <div class="content-hover">
            <h3> Don't kill me! </h3>
          </div>
        </div>
      <%= image_tag "seal.jpg", class: "image-settings" %>
      </div>

      <div class="photo">
        <div class="invisible-layout">
          <div class="content-hover">
            <h3> I want to live longer! </h3>
          </div>
        </div>
        <%= image_tag "rhino.jpg", class: "image-settings" %>
      </div>

      <div class="photo">
        <div class="invisible-layout">
          <div class="content-hover">
            <h3> Protect us! </h3>
          </div>
        </div>
        <%= image_tag "tiger.jpg", class: "image-settings" %>
      </div>

      <div class="photo">
        <div class="invisible-layout">
          <div class="content-hover">
            <h3> I'm so cute! </h3>
          </div>
        </div><%= image_tag "panda.jpg", class: "image-settings" %>
      </div>
    </div>
  </section>


  <section class= "footer-container">
    <!-- <div class= "footer-feature text-center"> -->
    <!-- <h1 class="text-center"> HOW YOU CAN HELP </h1> -->
    <div class="feature-title text-center">
      <h1> HOW YOU CAN HELP </h1>
    </div>


      <div class="footer text-center">
        <hr class = "short-underline" />
        <p style="text-align:center"> You can make a difference for nature—from speaking out for animals to showing that you care about the planet. Talk to us!
        </p>

          <div class="feature text-center">
            <%= fa_icon 'phone-square 2x', class: "icon-settings"%>
            <p> +603 123 4567 </p>
          </div>

          <div class="feature text-center">
            <%= fa_icon 'envelope 2x', class: "icon-settings"%>
            <p><a href="mailto:savetheanimal@gmail.com">savetheanimal@gmail.com</a></p>
          </div>

        </div>
      </div>





  </section>
