<div class="topics">


    <div class="topics-title text-center">
      <h1 style= "color:white; font-size:50px"> Dicussion Forum </h1>
    </div>

    <div class="topics-parent text-center">

      <% @topics.each do |topic| %>
        <div class="topics-child">
          <h3><%= link_to topic.title, topic_path(topic) %></h3>
          <h5><%= topic.description %></h5>
          <%= link_to ('Edit'), edit_topic_path(topic), :class => 'btn btn-primary btn-lg' %>
          <%= link_to ('Delete'), topic_path(topic), method: :delete, data: { confirm: "Delete?" }, :class => 'btn btn-primary btn-lg'%>
        </div>
      <% end %>
    </div>


    <div class="newbutton text-center">
      <%= link_to t('New Topic'), new_topic_path, :class => 'btn btn-primary btn-lg' %>
    </div>

  </div>
