<div class="posts">

  <div class="posts-title text-center">
    <h1 style= "color:white; font-size:50px"> Posts </h1>
  </div>


  <!-- <div class="posts-background text-center"> -->
    <div class="posts-parent text-center">

    <% @posts.each do |post| %>
      <div class="posts-child">
        <!-- # to show image in the index page also -->
        <% if post.image? %>
          <%= image_tag post.image, class: "img-settings img-responsive center-block " %>
        <% end %>
        <h3><%= link_to post.title, topic_post_comments_path(@topic, post), :class =>"linkcolor" %></h3>
        <h5><%= post.body %></h5>
        <%= link_to ('Edit'), edit_topic_post_path(@topic, post), :class => 'btn btn-primary btn-md' %>
        <%= link_to ('Delete'), topic_post_path(@topic, post), method: :delete, data: { confirm: "Delete?" }, :class => 'btn btn-primary btn-md'%>
      </div>
    <% end %>
    </div>

    <div class="newbutton text-center">
      <%= link_to t('New Post'), new_topic_post_path, :class => 'btn btn-primary btn-lg' %>
    </div>


</div>
